@use "../../scss/variables/" as *;
@use "../../scss/features/" as *;

.container {
  h3 {
    font-size: 1rem;
    text-align: center;
  }
  height: fit-content;
  min-height: 30vh;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "a b c" "a d d";
  @include media-mobile-lg {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "a" "d" "b" "c";
  }

  position: relative;

  .main_data {
    background-position: center center;
    background-image: url("../../assets/svg/light.jpg");
    grid-area: a;
    align-items: center;
    position: relative;
    @include wrapper-style;
    .save_btn {
      color: var(--bg-contrast);
      font-size: 2rem;
      top: 2%;
      left: 2%;
      position: absolute;
      cursor: pointer;
      &.active {
        color: var(--text-main);
      }
    }
    p {
      text-align: center;
      line-height: 1.5;
    }
    h3 {
      font-size: 2rem;
      text-transform: uppercase;
    }
    h2 {
      font-size: 3rem;
      text-align: center;
      position: relative;
      &::after {
        content: "°";
        font-size: 0.6em;
        position: absolute;
      }
    }
    img {
      width: 80px;
      aspect-ratio: 1;
      display: block;
      margin: 0 auto;
    }
    .desc {
      text-transform: uppercase;
      font-weight: bold;
    }
    .temp_range {
      width: 80%;
      display: flex;
      justify-content: space-between;
      .min {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::before {
          content: "▼";
          font-size: 0.4em;
          color: lightgreen;
        }
        &::after {
          content: "MIN";
          font-size: 0.4em;
          color: lightgreen;
        }
      }
      .max {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::before {
          content: "▲";
          font-size: 0.4em;
          color: orangered;
        }
        &::after {
          content: "MAX";
          font-size: 0.4em;
          color: orangered;
        }
      }
    }
  }
  @mixin list-styles {
    ul {
      list-style: none;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  .secondary_data {
    grid-area: b;
    @include wrapper-style;
    @include list-styles;
  }
  .days_data {
    grid-area: c;
    @include wrapper-style;
    @include list-styles;
    ul {
      li {
        span {
          min-width: 4rem;
        }
        img {
          width: 2rem;
          aspect-ratio: 1;
        }
      }
    }
  }
  .hourly_data {
    grid-area: d;
    @include wrapper-style;

    .container_sliders {
      display: grid;
      grid-auto-flow: column;
      overflow-x: scroll;
      gap: 1rem;
      padding-bottom: 0.25rem;
      &::-webkit-scrollbar {
        padding-top: 0.5rem;
        height: 5px;
      }
      &::-webkit-scrollbar-track {
        background: var(--bg-contrast);
      }
      &::-webkit-scrollbar-thumb {
        background: var(--text-main);
      }
      .hourly_condition {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 2rem;
          aspect-ratio: 1;
        }
      }
    }
  }
  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // margin:0 auto;
  }
}
