@use "../../scss/variables/" as *;

.home {
  // height: 100vh;
  padding: 5em 1em 0;
  background-color: var(--bg);
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;

  gap: 2rem;
  // &::-webkit-scrollbar {
  //   height: 5px;
  // }
}

// display: grid;
//     gap: var(--spacer, 1rem);
//     margin: var(--spacer, 1rem);
//     padding: var(--spacer, 1rem) 0;
//     grid-auto-flow: column;
//     overflow-x: scroll;
//     &::-webkit-scrollbar {
//       height: 5px;
//     }
