@use "../../scss/variables/" as *;
@use "../../scss/features/" as *;

.card {
  width: clamp(200px, 12vw, 250px);
  height: 350px;
  align-items: center;
  @include wrapper-style;
  cursor: pointer;

  h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.5;
  }
  h2 {
    font-size: 3rem;
    text-align: center;
    position:relative;
    &::after {
      content: "°";
      font-size: 0.6em;
      position: absolute;
    }
  }
  img {
    width: 80px;
    aspect-ratio: 1;
    display: block;
    margin: 0 auto;
  }
  .desc {
    text-transform: uppercase;
    font-weight: bold;
  }
  .temp_range {
    width: 80%;
    display: flex;
    justify-content: space-between;
    .min {
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      &::before {
        content: "▼";
        font-size: 0.4em;
        color: lightgreen;
      }
      &::after {
        content: "MIN";
        font-size: 0.4em;
        color: lightgreen;
      }
    }
    .max {
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      &::before {
        content: "▲";
        font-size: 0.4em;
        color: orangered;
      }
      &::after {
        content: "MAX";
        font-size: 0.4em;
        color: orangered;
      }
    }
  }
}
