@use "../../scss/variables/" as *;

.container{
    background-color: var(--bg);
    width: clamp(200px, 12vw, 180px);
    height:300px;
    border-radius: 15px;
    box-shadow:var(--bg-contrast) 0px 4px 12px;
    display:flex;
    flex-direction:column;

    .title{
        font-size: 1.5rem;
    }
    

}