@use "../../scss/variables/" as *;

.container {
  background-color: var(--bg);
  width: clamp(200px, 14vw, 230px);

  height: 300px;
  border-radius: 15px;
  box-shadow: var(--bg-contrast) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  padding:0.5rem;
  

  .search__input{
    color:var(--text-main);
    padding:0.5rem;
    background-color: var(--bg-contrast);
    border-radius: 5px;
    

  }
}
