@use "../../scss/variables/" as *;

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

.navbar {
  position:fixed;
  width:100%;
  padding: 1em 2em;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow:var(--bg-contrast) 0px 4px 12px;
  .title {
    font-size: 1.5em;
    cursor: pointer;
  }
  .menu__btn {
    font-size: 1.5em;
    cursor: pointer;
  }
}
