@use "../../scss/variables/" as *;

$spacing-unit: 0.5rem;
$transition-time: 200ms;

.c_theme {
  $width: $spacing-unit * 6;
  background: transparent;
  cursor: pointer;
  width: $width;
  position: relative;
  padding: 0;
  transition: all $transition-time;
  &__track {
    background: var(--bg-contrast);
    height: $spacing-unit * 2;
    width: 100%;
    border-radius: 9999px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all $transition-time;
  }
  &__knob {
    $size: calc($width / 2);
    background: var(--text-main);
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
    border-radius: 50%;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    transition: transform $transition-time;
  }
  &__icon {
    $size: $spacing-unit * 2;
    fill: var(--bg);
    width: $size;
    height: $size;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__icon_wrapper {
    position: relative;
    transition: transform $transition-time;
    &__light {
      transform: scaleX(1) scaleY(1) rotate(0deg);
    }
    &__dark {
      transform: scaleX(0) scaleY(0) rotate(90deg);
    }
  }
  &__active {
    .c_theme__knob {
      transform: translate(calc($width / 2), -50%);
    }
    .c_theme__icon_wrapper {
      &__light {
        transform: scaleX(0) scaleY(0) rotate(90deg);
      }
      &__dark {
        transform: scaleX(1) scaleY(1) rotate(0deg);
      }
    }
  }
}