@mixin wrapper-style {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: var(--bg-contrast) 0px 4px 12px;
  // li{
  //   font-size:0.5rem;
  // }
}


@mixin text-gradient-style{
  background: -webkit-linear-gradient(85deg,var(--text-main), var(--text-main-b));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}