@use "../variables/" as *;

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.glass_card {
  background: linear-gradient(
    to right bottom,
    var(--bg-gd-two),
    var(--bg-gd-one)
  );
  // background: transparent;
  backdrop-filter: blur(2px);
}
