@use "../variables" as *;
@use "../features" as *;


[color-scheme="light"] {
  --bg-img: url("../src/assets/img/bg-light.webp");
}

[color-scheme="dark"] {
  --bg-img: url("../src/assets/img/bg-dark.png");
}


#root {
  background-image: var(--bg-img);
  
  
  min-height: 100vh;
  color: var(--text-main);

  width: 100%;
  max-width: 1200px;

  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: var(--a);
}

h1,
h2,
h3 {
  @include text-gradient-style
}
